body{
	background:white;
	margin:0;
	padding:0;
}

.navbar{
	padding-top:10px;
	width:100%;
	min-height:110px;
	background:#fafafa;
	margin:0;
	border-bottom:1px solid #d3d3d3;
}

.logo{
	padding:10px;
	float:left;
}

.inp{
	font-size:1.2em;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:10px;
	width:100%;
	width:47vw;
	
}

.inp:focus{
	outline:none;
	/*box-shadow:0px 1px 10px #c7c7c7;*/
}


.inpDiv{
	box-shadow:0px 1px 2px #c7c7c7;
	/*width:50vw;*/
	margin-top:10px;
	float:left;
	/*height:20px;*/
}



.inpDiv:hover{
		
	box-shadow:0px 1px 10px #c7c7c7;

}

.inpDiv:focus{
	/*box-shadow:0px 1px 10px #c7c7c7;*/
	color:red;
}

.navLinks{
	float:left;
	width:47%;
}

.navLink{
	padding-left:15px;
	padding-right:15px;
	float:left;
	padding-top:25px;
	font-size:.84em;
	text-decoration:none;
	color:#777;
	font-family:arial,sans-serif;
	
}

.Left{
	float:left;
}

.Right{
	float:right;
}

.navLink:hover{
	color:black;
}

.selected{
	border-bottom:3px solid #7171ff;
	color:#7171ff;
	font-weight:bold;
	padding-bottom:12px;
	

}

.resultNum{
	font-family:arial,sans-serif;
	color:#777;
	font-size:.8em;
	padding-left:12vw;
	padding-top:10px;
	float:left;
}

.result{
	width:47%;
	margin-left:12vw;
	margin-top:50px;
	font-family:arial,sans-serif;
	font-size:.8em;
}

.resultTitle{
	color:#1a0dab;
	width:100%;
	float:left;
	font-size:1.41em;
	padding-bottom:3px;
}

.resultLink{
	color:#006621;
	width:100%;
	float:left;
	padding-bottom:4px;
	font-size:1.058em;
}

.resultText{
	width:100%;
	float:left;
	color:#545454;
	font-size:1.052em;
	line-height:1.4;

}